<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Historie</a>
    </li>
  </ul>
</nav>

<div class="container">
  <h2>DEMO APP</h2>
  <hr/>
  <label for="sel1">Select Input Device</label>
  <select class="input-small" id="sel1">
    <option>SSD1 (media/ssd1)</option>
    <option>USB1 (media/sdb)</option>
  </select>
 <div class="progress">
  <div class="progress-bar bg-success" style="width:40%">
    Free Space
  </div>
  <div class="progress-bar bg-warning" style="width:10%">
    Data
  </div>
  <div class="progress-bar bg-danger" style="width:20%">
    OS
  </div>
</div> 
  <hr/>
  <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="" checked="checked" onchange="document.getElementById('sel2').disabled = !this.checked;" >Offline Output (No Network Connection)
  </label>
</div>
  <label for="sel2">Select Output Device</label>
  <select class="input-small" id="sel2">
    <option>SSD2 (media/ssd2)</option>
  </select>
    <hr/>
  <div class="containerIn">
     <button id="prim" type="button" class="btn btn-primary" onclick="document.getElementById('loadingbtn').style.display = 'inline';this.style.display='none'">Start</button>
     <button id="loadingbtn" class="btn btn-primary" style="display: none;" onclick="document.getElementById('prim').style.display = 'inline';this.style.display='none'" >
  <span class="spinner-grow spinner-grow-sm"></span>
  Working..
</button>
     </div>
</div> 

</body>
</html>

